body{
    text-align: center;
}
h1{
    color: blue;
}
#user-choice-pic{
    text-align: center;
}
#pic1{
    width: 200px;
    height: 200px;
}
#pic2{
    width: 200px;
    height: 200px;
}
#pic3{
    width: 200px;
    height: 200px;
}