body{
    text-align: center;
    width: 700px;
    margin-left: 500px;
    margin-right: 500px;
}
h1{
    color: blue;
}
#user-choice-pic{
    text-align: center;
}
#pic1{
    width: 200px;
    height: 200px;
}
#pic2{
    width: 200px;
    height: 200px;
}
#pic3{
    width: 200px;
    height: 200px;
}

.renk{
    background-color:ghostwhite;
    width: 700px;;
    color: royalblue;
    font-weight: bold;
}
.ton{
    background-color: lavenderblush;
    color: red;
    font-weight: bold;

}